    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
            form {
                width: 600px;
                margin: 50px auto;
                background-color: #eee;
                padding: 30px;
            }
            span{
                font-size: 13px;
                color:red;
            }

            #head{
                text-align: center;
                padding: 30px;
                
            }
            .join_btn{
                text-align: center;
                margin: 50px auto;
            }
            .button{
                background-color: #cecece;
            }
        </style>
        <script>
            
            function idcheck(){
                let user="aaaaa";
                let x=document.getElementById("userid").value;
                let msg;
                if(x == user){
                    msg = "중복된 아이디 입니다.";
                    document.getElementById("iderror").innerHTML=msg;
                    document.getElementById("iderror").style.color="red";
                    x.focus();
                    return false;
                }
                else if(x == ""){
                    msg ="아이디를 입력해주세요."
                    document.getElementById("iderror").innerHTML=msg;
                    document.getElementById("iderror").style.color="red";
                    return false;
                }
                else{
                    msg="사용 가능한 아이디 입니다.";
                    document.getElementById("iderror").innerHTML=msg;
                    document.getElementById("iderror").style.color="green";
                    return true;
                }
            }
            
            function pwdcheck(){
                let inpwd = document.getElementById("pwd").value;
                let regpwd= /^(?=.*[a-zA-Z])(?=.*[!@#$%^&*+=-])(?=.*[0-9]).{8,25}$/;
                let pwmsg;
                if(regpwd.test(inpwd)){
                    pwmsg="";
                    document.getElementById("pwderror").innerHTML= pwmsg;
                    return true;
                }
                
                else{
                    pwmsg="비밀번호는 영문자+숫자+특수문자 조합으로 8~25자리 사용해야 합니다.";
                    document.getElementById("pwderror").innerHTML= pwmsg;
                    inpwd.focus();
                    return false;
                }
            }
            function pwd1check(){
                let inpwd = document.getElementById("pwd").value;
                let pwd1=document.getElementById("pwd1").value;
                let pwd1msg;
                if(pwd1==inpwd){
                    pwd1msg="";
                    document.getElementById("pwd1error").innerHTML= pwd1msg;
                    return true;
                }
                else{
                    pwd1msg="비밀번호가 일치하지 않습니다.";
                    document.getElementById("pwd1error").innerHTML= pwd1msg;
                    return false;

                }
            }
            function namecheck(){
                let name = document.getElementById("name").value;
                let namemsg;
                if (name.length < 2) {
                    namemsg="이름을 2글자 이상 입력해주세요.";
                    document.getElementById("nameerror").innerHTML= namemsg;
                    return false;
                }
        
                else{
                    namemsg="";
                    document.getElementById("nameerror").innerHTML= namemsg;
                    return true;
                }
            }
          
           
            function yearcheck(){
                let year=document.getElementById("birthyear").value;
                let resyear =  /^\d{4}$/;
                let yearmsg;
                if(resyear.test(year)){
                    yearmsg="";
                    document.getElementById("yearerror").innerHTML=yearmsg;
                    return true;
                }
                else{
                    yearmsg="년도는 4자리 숫자로 입력해주세요.";
                    document.getElementById("yearerror").innerHTML=yearmsg;
                    return false;
                }
            }
            function daycheck(){
                let day=document.getElementById("day").value;
                let resday = /^\d{1,2}$/;
                let daymsg;
                if(!resday.test(day)|| day < 1 || day > 31){
                    daymsg=" 일자는 1~31사이 숫자로 입력해주세요.";
                    document.getElementById("dayerror").innerHTML=daymsg;
                    return false;
                }
                else{
                    daymsg="";
                    document.getElementById("dayerror").innerHTML=daymsg;
                    return true;
                }
            }

            function phonecheck(){
                let phone=document.getElementById("phone").value;
                let regphone = /^[0-9]+$/;
                let phmsg;
                if (regphone.test(phone)){
                    phmsg = "";
                    document.getElementById("phoneerror").innerHTML=phmsg;
                    return true;
                }
                else{
                    phmsg = "전화번호는 숫자만 입력가능합니다.";
                    document.getElementById("phoneerror").innerHTML=phmsg;
                    return false;
                }

            }
            

            function gendercheck() {
                let genderSelected = document.querySelector('input[name="gender"]:checked');
                let genderMsg;

                if (!genderSelected) {
                    genderMsg = "성별을 선택해주세요.";
                    document.getElementById("genderError").innerHTML = genderMsg;
                    return false;
                } else {
                    document.getElementById("genderError").innerHTML = "";
                    return true;
                }
            }

            function acsesscheck() {
                let acsess = document.getElementById("acsess").checked;
                let acsessMsg;

                if (!acsess) {
                    acsessMsg = "약관에 동의해야 합니다.";
                    document.getElementById("acsessError").innerHTML = acsessMsg;
                    return false;
                } else {
                    document.getElementById("acsessError").innerHTML = "";
                    return true;
                }
            }
            
            function allreset(){
                let spans = document.getElementsByTagName("span"); // 모든 span 요소를 가져옵니다.
                
                for (let i = 0; i < spans.length; i++) {
                    spans[i].innerHTML = ""; // 각 span의 내용을 비웁니다.
                }
            }

            function allcheck() {
                let idValid = idcheck();
                let pwdValid = pwdcheck();
                let pwd1Valid = pwd1check();
                let nameValid = namecheck();
                let yearValid = yearcheck();
                let dayValid = daycheck();
                let phoneValid = phonecheck();
                let genderValid = gendercheck(); // 성별 체크
                let acsessValid = acsesscheck(); // 약관 체크

                // 모든 체크가 통과하면 true, 아니면 false
                if (idValid && pwdValid && pwd1Valid && nameValid && yearValid && dayValid && phoneValid && genderValid && acsessValid) {
                    alert("가입 완료!");
                    return true;
                } else {
                    alert("모든 정보를 올바르게 입력해주세요.");
                    return false;
                }
            }
            
        </script>
    </head>
    <body>
        <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script>
            function searchAddress() {
                new daum.Postcode({
                    oncomplete: function(data) {

                        document.getElementById('postcode').value = data.zonecode;
                        document.getElementById('address').value = data.address;   
                        document.getElementById('address_detail').focus();        
                    }
                }).open();
            }
        </script>


        <form>
            <div id="head">
            <h1>회원 가입</h1>
            </div>
            <div class="ids">
            아이디:<input type="text" id="userid" value="">
            <input type="button" onclick="idcheck();" value="중복확인"><br>
            <span id="iderror"></span><br>
            </div>

            비밀번호:<input type="password" id="pwd" onchange="pwdcheck();" value="" placeholder="영문자+숫자+특수문자 조합"><br>
            <span id="pwderror"></span><br>
            
            비밀번호 재확인:<input type="password" id="pwd1" onchange="pwd1check();" value=""><br>
            <span id="pwd1error"></span><br>
            
            이름:<input type="text" id="name" onchange="namecheck();"value=""><br>
            <span id="nameerror"></span><br>

            생년월일<input type="text" id="birthyear" size="5" onchange="yearcheck();" placeholder="년(4자)">
            <Select id="month">
                <option value="">월</option>
                <option value="0">1월</option>
                <option value="0">2월</option>
                <option value="0">3월</option>
                <option value="0">4월</option>
                <option value="0">5월</option>
                <option value="0">6월</option>
                <option value="0">7월</option>
                <option value="0">8월</option>
                <option value="0">9월</option>
                <option value="0">10월</option>
                <option value="0">11월</option>
                <option value="0">12월</option>
            </Select>
            <input type="text" id="day" size="2" onchange="daycheck();"placeholder="일"><br>
            <span id="yearerror"></span><span id="dayerror"></span><br>

            성별:<input type="radio" name="gender" value="male">남
            <input type="radio" name="gender" value="female">여
            <span id="genderError"></span><br><br>
            
            전화번호:<input type="text" id="phone" onchange="phonecheck();" value="" placeholder="'-' 없이 숫자만 입력">
            <span id="phoneerror"></span><br><br>

            약관동의<br><br>
            <input type="checkbox" id="acsess" value="">약관에 동의합니다.
            <span id="acsessError"></span><br>

            <div class="join_btn" >
                <input type="reset" class= "button" value="초기화" onclick="allreset();">
                <input type="button" class= "button" onclick="allcheck();" value="가입하기">
            </div>
        </form>


    </body>
    </html>